.product-details {

  max-width:1200px;

  margin:40px auto;

  display:grid;

  grid-template-columns:1fr 1fr;

  gap:50px;

  padding:40px;

  background:white;

  border-radius:20px;

  box-shadow:
  0 10px 30px rgba(0,0,0,0.08);

}



.product-image {

  display:flex;

  justify-content:center;

  align-items:center;

  background:#f7f7f7;

  border-radius:20px;

  padding:30px;

}



.product-image img {

  width:100%;

  max-width:450px;

  height:450px;

  object-fit:contain;

}



.product-info {

  display:flex;

  flex-direction:column;

  justify-content:center;

}



.product-info h1 {

  font-size:38px;

  margin-bottom:15px;

}



.product-info h2 {

  font-size:30px;

  color:#2563eb;

  margin-bottom:20px;

}



.rating {

  font-size:22px;

  margin-bottom:20px;

}



.product-info p {

  font-size:17px;

  line-height:1.7;

  margin-bottom:15px;

}



.product-info button {


  width:220px;

  padding:14px;

  margin-top:15px;

  border:none;

  border-radius:10px;

  background:#2563eb;

  color:white;

  font-size:16px;

  cursor:pointer;

}



.product-info button:hover {

  background:#1d4ed8;

}




@media(max-width:768px){


.product-details{

grid-template-columns:1fr;

padding:20px;

}



.product-image img{

height:300px;

}



.product-info h1{

font-size:28px;

}


}